<form method='post' action='/posts/<%=@post.id%>'>

  <p><%= @post.name %></p>
  <p><%= @post.content %></p>

  <p>Enter the new content:</p>
  <input type="text" name="name">
  <input type="text" name="content">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="submit">
</form>
