<form method="POST" action='/posts'>

  <p>Post Name:</p>
  <input type="text" name="name">

  <p>Post Content:</p>
  <input type="text" name="content">

  <input type="submit" value="submit">
</form>
